<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="SabeltannFiles" Directory="INSTALLFOLDER">
      <Component Id='f95681578' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\createdump.exe' />
      </Component>
      <Component Id='f51265896' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Sabeltann.exe' />
      </Component>
      <Component Id='f47452403' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\av_libglesv2.dll' />
      </Component>
      <Component Id='f99471589' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Base.dll' />
      </Component>
      <Component Id='f80802260' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Controls.dll' />
      </Component>
      <Component Id='f63064325' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.DesignerSupport.dll' />
      </Component>
      <Component Id='f93551439' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Desktop.dll' />
      </Component>
      <Component Id='f62791027' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Dialogs.dll' />
      </Component>
      <Component Id='f76570152' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.dll' />
      </Component>
      <Component Id='f66438696' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Fonts.Inter.dll' />
      </Component>
      <Component Id='f47097454' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.FreeDesktop.AtSpi.dll' />
      </Component>
      <Component Id='f52159530' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.FreeDesktop.dll' />
      </Component>
      <Component Id='f60641096' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.HarfBuzz.dll' />
      </Component>
      <Component Id='f75155886' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Markup.dll' />
      </Component>
      <Component Id='f38586907' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Markup.Xaml.dll' />
      </Component>
      <Component Id='f31748094' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Metal.dll' />
      </Component>
      <Component Id='f64915580' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.MicroCom.dll' />
      </Component>
      <Component Id='f30669744' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Native.dll' />
      </Component>
      <Component Id='f2353646' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.OpenGL.dll' />
      </Component>
      <Component Id='f10517281' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Remote.Protocol.dll' />
      </Component>
      <Component Id='f56962526' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Skia.dll' />
      </Component>
      <Component Id='f24348289' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Themes.Fluent.dll' />
      </Component>
      <Component Id='f32749' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Vulkan.dll' />
      </Component>
      <Component Id='f36193189' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Win32.Automation.dll' />
      </Component>
      <Component Id='f71399661' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.Win32.dll' />
      </Component>
      <Component Id='f47151499' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Avalonia.X11.dll' />
      </Component>
      <Component Id='f43031850' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\clretwrc.dll' />
      </Component>
      <Component Id='f86962805' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\clrgc.dll' />
      </Component>
      <Component Id='f57570721' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\clrgcexp.dll' />
      </Component>
      <Component Id='f95279877' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\clrjit.dll' />
      </Component>
      <Component Id='f70290630' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\CommunityToolkit.Mvvm.dll' />
      </Component>
      <Component Id='f33098629' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\coreclr.dll' />
      </Component>
      <Component Id='f93372070' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\ExCSS.dll' />
      </Component>
      <Component Id='f78285061' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\HarfBuzzSharp.dll' />
      </Component>
      <Component Id='f83027618' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\hostfxr.dll' />
      </Component>
      <Component Id='f28893322' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\hostpolicy.dll' />
      </Component>
      <Component Id='f46027894' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\libHarfBuzzSharp.dll' />
      </Component>
      <Component Id='f26065670' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\libSkiaSharp.dll' />
      </Component>
      <Component Id='f22345669' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\LibVLCSharp.dll' />
      </Component>
      <Component Id='f8078825' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\MicroCom.Runtime.dll' />
      </Component>
      <Component Id='f19113603' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.CSharp.dll' />
      </Component>
      <Component Id='f27718730' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.DiaSymReader.Native.amd64.dll' />
      </Component>
      <Component Id='f24578648' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.VisualBasic.Core.dll' />
      </Component>
      <Component Id='f51623068' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.VisualBasic.dll' />
      </Component>
      <Component Id='f7392246' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.Win32.Primitives.dll' />
      </Component>
      <Component Id='f32972070' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Microsoft.Win32.Registry.dll' />
      </Component>
      <Component Id='f18165496' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\mscordaccore_amd64_amd64_10.0.826.23019.dll' />
      </Component>
      <Component Id='f88308694' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\mscordaccore.dll' />
      </Component>
      <Component Id='f71680714' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\mscordbi.dll' />
      </Component>
      <Component Id='f1673699' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\mscorlib.dll' />
      </Component>
      <Component Id='f37678616' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\mscorrc.dll' />
      </Component>
      <Component Id='f74657001' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\msquic.dll' />
      </Component>
      <Component Id='f706375' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\netstandard.dll' />
      </Component>
      <Component Id='f9389165' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Sabeltann.dll' />
      </Component>
      <Component Id='f37231884' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Sentry.dll' />
      </Component>
      <Component Id='f84637464' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\ShimSkiaSharp.dll' />
      </Component>
      <Component Id='f31541280' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\SkiaSharp.dll' />
      </Component>
      <Component Id='f71057502' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\SkiaSharp.HarfBuzz.dll' />
      </Component>
      <Component Id='f55687261' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Svg.Custom.dll' />
      </Component>
      <Component Id='f10345615' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Svg.Model.dll' />
      </Component>
      <Component Id='f62819833' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Svg.Skia.dll' />
      </Component>
      <Component Id='f41672609' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.AppContext.dll' />
      </Component>
      <Component Id='f26423910' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Buffers.dll' />
      </Component>
      <Component Id='f76154291' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Collections.Concurrent.dll' />
      </Component>
      <Component Id='f32056379' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Collections.dll' />
      </Component>
      <Component Id='f34573119' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Collections.Immutable.dll' />
      </Component>
      <Component Id='f40108047' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Collections.NonGeneric.dll' />
      </Component>
      <Component Id='f73948434' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Collections.Specialized.dll' />
      </Component>
      <Component Id='f24737174' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.Annotations.dll' />
      </Component>
      <Component Id='f56859218' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.DataAnnotations.dll' />
      </Component>
      <Component Id='f37388964' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.dll' />
      </Component>
      <Component Id='f59335972' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.EventBasedAsync.dll' />
      </Component>
      <Component Id='f70215419' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.Primitives.dll' />
      </Component>
      <Component Id='f59666494' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ComponentModel.TypeConverter.dll' />
      </Component>
      <Component Id='f29933738' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Configuration.dll' />
      </Component>
      <Component Id='f19664666' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Console.dll' />
      </Component>
      <Component Id='f72504692' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Core.dll' />
      </Component>
      <Component Id='f21833815' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Data.Common.dll' />
      </Component>
      <Component Id='f27307307' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Data.DataSetExtensions.dll' />
      </Component>
      <Component Id='f17324102' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Data.dll' />
      </Component>
      <Component Id='f30410570' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.Contracts.dll' />
      </Component>
      <Component Id='f16316290' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.Debug.dll' />
      </Component>
      <Component Id='f74810025' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.DiagnosticSource.dll' />
      </Component>
      <Component Id='f78502899' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.FileVersionInfo.dll' />
      </Component>
      <Component Id='f11136954' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.Process.dll' />
      </Component>
      <Component Id='f781919' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.StackTrace.dll' />
      </Component>
      <Component Id='f32427568' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.TextWriterTraceListener.dll' />
      </Component>
      <Component Id='f47743355' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.Tools.dll' />
      </Component>
      <Component Id='f24125477' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.TraceSource.dll' />
      </Component>
      <Component Id='f13619234' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Diagnostics.Tracing.dll' />
      </Component>
      <Component Id='f2055866' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.dll' />
      </Component>
      <Component Id='f62556213' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Drawing.dll' />
      </Component>
      <Component Id='f51626855' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Drawing.Primitives.dll' />
      </Component>
      <Component Id='f37891838' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Dynamic.Runtime.dll' />
      </Component>
      <Component Id='f39644466' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Formats.Asn1.dll' />
      </Component>
      <Component Id='f54917401' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Formats.Tar.dll' />
      </Component>
      <Component Id='f10040785' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Globalization.Calendars.dll' />
      </Component>
      <Component Id='f29370960' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Globalization.dll' />
      </Component>
      <Component Id='f59901947' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Globalization.Extensions.dll' />
      </Component>
      <Component Id='f55630030' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Compression.Brotli.dll' />
      </Component>
      <Component Id='f5278763' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Compression.dll' />
      </Component>
      <Component Id='f43233896' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Compression.FileSystem.dll' />
      </Component>
      <Component Id='f80703615' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Compression.Native.dll' />
      </Component>
      <Component Id='f3054266' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Compression.ZipFile.dll' />
      </Component>
      <Component Id='f58993225' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.dll' />
      </Component>
      <Component Id='f81139441' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.FileSystem.AccessControl.dll' />
      </Component>
      <Component Id='f61181492' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.FileSystem.dll' />
      </Component>
      <Component Id='f65727306' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.FileSystem.DriveInfo.dll' />
      </Component>
      <Component Id='f26951870' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.FileSystem.Primitives.dll' />
      </Component>
      <Component Id='f28481793' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.FileSystem.Watcher.dll' />
      </Component>
      <Component Id='f66039019' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.IsolatedStorage.dll' />
      </Component>
      <Component Id='f1531355' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.MemoryMappedFiles.dll' />
      </Component>
      <Component Id='f20635015' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Pipelines.dll' />
      </Component>
      <Component Id='f16829775' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Pipes.AccessControl.dll' />
      </Component>
      <Component Id='f8140872' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.Pipes.dll' />
      </Component>
      <Component Id='f3970467' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.IO.UnmanagedMemoryStream.dll' />
      </Component>
      <Component Id='f11375343' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Linq.AsyncEnumerable.dll' />
      </Component>
      <Component Id='f3851026' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Linq.dll' />
      </Component>
      <Component Id='f75072764' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Linq.Expressions.dll' />
      </Component>
      <Component Id='f12581681' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Linq.Parallel.dll' />
      </Component>
      <Component Id='f73781248' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Linq.Queryable.dll' />
      </Component>
      <Component Id='f89572995' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Memory.dll' />
      </Component>
      <Component Id='f13092102' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.dll' />
      </Component>
      <Component Id='f28636054' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Http.dll' />
      </Component>
      <Component Id='f1148402' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Http.Json.dll' />
      </Component>
      <Component Id='f15333693' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.HttpListener.dll' />
      </Component>
      <Component Id='f21856317' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Mail.dll' />
      </Component>
      <Component Id='f55629438' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.NameResolution.dll' />
      </Component>
      <Component Id='f26469808' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.NetworkInformation.dll' />
      </Component>
      <Component Id='f5978541' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Ping.dll' />
      </Component>
      <Component Id='f84466754' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Primitives.dll' />
      </Component>
      <Component Id='f40302970' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Quic.dll' />
      </Component>
      <Component Id='f45661249' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Requests.dll' />
      </Component>
      <Component Id='f46622733' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Security.dll' />
      </Component>
      <Component Id='f90239555' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.ServerSentEvents.dll' />
      </Component>
      <Component Id='f12376574' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.ServicePoint.dll' />
      </Component>
      <Component Id='f20620078' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.Sockets.dll' />
      </Component>
      <Component Id='f50628786' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.WebClient.dll' />
      </Component>
      <Component Id='f72274750' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.WebHeaderCollection.dll' />
      </Component>
      <Component Id='f78145091' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.WebProxy.dll' />
      </Component>
      <Component Id='f61840698' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.WebSockets.Client.dll' />
      </Component>
      <Component Id='f50164503' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Net.WebSockets.dll' />
      </Component>
      <Component Id='f72146915' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Numerics.dll' />
      </Component>
      <Component Id='f99774225' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Numerics.Vectors.dll' />
      </Component>
      <Component Id='f83005936' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ObjectModel.dll' />
      </Component>
      <Component Id='f28456586' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Private.CoreLib.dll' />
      </Component>
      <Component Id='f57160064' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Private.DataContractSerialization.dll' />
      </Component>
      <Component Id='f6147774' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Private.Uri.dll' />
      </Component>
      <Component Id='f28049842' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Private.Xml.dll' />
      </Component>
      <Component Id='f64608290' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Private.Xml.Linq.dll' />
      </Component>
      <Component Id='f11841178' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.DispatchProxy.dll' />
      </Component>
      <Component Id='f6682462' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.dll' />
      </Component>
      <Component Id='f33366601' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Emit.dll' />
      </Component>
      <Component Id='f77960680' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Emit.ILGeneration.dll' />
      </Component>
      <Component Id='f40915169' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Emit.Lightweight.dll' />
      </Component>
      <Component Id='f79546372' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Extensions.dll' />
      </Component>
      <Component Id='f46949675' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Metadata.dll' />
      </Component>
      <Component Id='f56577324' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.Primitives.dll' />
      </Component>
      <Component Id='f12808199' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Reflection.TypeExtensions.dll' />
      </Component>
      <Component Id='f67483923' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Resources.Reader.dll' />
      </Component>
      <Component Id='f24121511' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Resources.ResourceManager.dll' />
      </Component>
      <Component Id='f14535575' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Resources.Writer.dll' />
      </Component>
      <Component Id='f20078746' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.CompilerServices.Unsafe.dll' />
      </Component>
      <Component Id='f56307749' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.CompilerServices.VisualC.dll' />
      </Component>
      <Component Id='f27632205' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.dll' />
      </Component>
      <Component Id='f31657869' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Extensions.dll' />
      </Component>
      <Component Id='f22454296' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Handles.dll' />
      </Component>
      <Component Id='f24411095' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.InteropServices.dll' />
      </Component>
      <Component Id='f35046608' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.InteropServices.JavaScript.dll' />
      </Component>
      <Component Id='f82015864' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.InteropServices.RuntimeInformation.dll' />
      </Component>
      <Component Id='f21594469' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Intrinsics.dll' />
      </Component>
      <Component Id='f59885196' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Loader.dll' />
      </Component>
      <Component Id='f29403505' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Numerics.dll' />
      </Component>
      <Component Id='f84482193' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Serialization.dll' />
      </Component>
      <Component Id='f56297251' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Serialization.Formatters.dll' />
      </Component>
      <Component Id='f25015943' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Serialization.Json.dll' />
      </Component>
      <Component Id='f91819769' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Serialization.Primitives.dll' />
      </Component>
      <Component Id='f70819319' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Runtime.Serialization.Xml.dll' />
      </Component>
      <Component Id='f56571921' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.AccessControl.dll' />
      </Component>
      <Component Id='f46564185' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Claims.dll' />
      </Component>
      <Component Id='f30252354' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.Algorithms.dll' />
      </Component>
      <Component Id='f9879282' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.Cng.dll' />
      </Component>
      <Component Id='f81401718' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.Csp.dll' />
      </Component>
      <Component Id='f86334273' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.dll' />
      </Component>
      <Component Id='f25293758' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.Encoding.dll' />
      </Component>
      <Component Id='f136667' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.OpenSsl.dll' />
      </Component>
      <Component Id='f21365830' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.Primitives.dll' />
      </Component>
      <Component Id='f94270684' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Cryptography.X509Certificates.dll' />
      </Component>
      <Component Id='f64083174' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.dll' />
      </Component>
      <Component Id='f74388997' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Principal.dll' />
      </Component>
      <Component Id='f71576431' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.Principal.Windows.dll' />
      </Component>
      <Component Id='f83749829' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Security.SecureString.dll' />
      </Component>
      <Component Id='f80801404' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ServiceModel.Web.dll' />
      </Component>
      <Component Id='f34978005' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ServiceProcess.dll' />
      </Component>
      <Component Id='f74027501' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.Encoding.CodePages.dll' />
      </Component>
      <Component Id='f34318140' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.Encoding.dll' />
      </Component>
      <Component Id='f45892203' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.Encoding.Extensions.dll' />
      </Component>
      <Component Id='f50631129' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.Encodings.Web.dll' />
      </Component>
      <Component Id='f46090868' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.Json.dll' />
      </Component>
      <Component Id='f97212813' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Text.RegularExpressions.dll' />
      </Component>
      <Component Id='f75300049' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.AccessControl.dll' />
      </Component>
      <Component Id='f23433186' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Channels.dll' />
      </Component>
      <Component Id='f53063895' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.dll' />
      </Component>
      <Component Id='f86076938' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Overlapped.dll' />
      </Component>
      <Component Id='f47060115' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Tasks.Dataflow.dll' />
      </Component>
      <Component Id='f88837669' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Tasks.dll' />
      </Component>
      <Component Id='f11986886' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Tasks.Extensions.dll' />
      </Component>
      <Component Id='f81046479' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Tasks.Parallel.dll' />
      </Component>
      <Component Id='f23302635' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Thread.dll' />
      </Component>
      <Component Id='f1180832' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.ThreadPool.dll' />
      </Component>
      <Component Id='f58433174' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Threading.Timer.dll' />
      </Component>
      <Component Id='f12324304' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Transactions.dll' />
      </Component>
      <Component Id='f11508046' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Transactions.Local.dll' />
      </Component>
      <Component Id='f27930041' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.ValueTuple.dll' />
      </Component>
      <Component Id='f3019845' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Web.dll' />
      </Component>
      <Component Id='f76427001' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Web.HttpUtility.dll' />
      </Component>
      <Component Id='f98005131' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Windows.dll' />
      </Component>
      <Component Id='f26387708' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.dll' />
      </Component>
      <Component Id='f22443506' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.Linq.dll' />
      </Component>
      <Component Id='f74697828' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.ReaderWriter.dll' />
      </Component>
      <Component Id='f74472158' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.Serialization.dll' />
      </Component>
      <Component Id='f11328911' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.XDocument.dll' />
      </Component>
      <Component Id='f6651234' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.XmlDocument.dll' />
      </Component>
      <Component Id='f13793428' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.XmlSerializer.dll' />
      </Component>
      <Component Id='f84360427' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.XPath.dll' />
      </Component>
      <Component Id='f54474577' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\System.Xml.XPath.XDocument.dll' />
      </Component>
      <Component Id='f1035751' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\Tmds.DBus.Protocol.dll' />
      </Component>
      <Component Id='f49412192' Guid='*' Bitness='always64'>
        <File Source='$(var.PublishDir)\WindowsBase.dll' />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
